<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>

    <!-- Importation des CSS et JS de Bootstrap, jQuery et Popper -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Importation des css personnalisés -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/page2">Page 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Page 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Page 4</a>
          </li>
        </ul>
      </nav>