<%- include('header'); %>

<div class="contenu">
    <p>Bien le bonjour voyageur !</p>
    <p>Bienvenue sur la page d'accueil ;)</p>
    <p><%=monobjet.nom %></p>
    <p><%=monobjet.valeur %></p>
</div>

<%- include('footer'); %>