<%- include('header'); %>

<div class="contenu">
    <p>Soyez le bienvenue sur la 2ème page !</p>
    <form method="post" action="/page2">
        <label for="name">Prénom :</label>
        <input type="text" id="name" name="name"  value="Daniel" >
        <input type="submit">
    </form>
</div>

<%- include('footer'); %>